@charset "UTF-8";



@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font0: Arial, cursive, sans-serif;
    --font1: 'Poppins', cursive;
    --font2: 'Roboto', sans-serif;

    --color00: rgb(22, 30, 37);
    --color0: rgb(27, 38, 48);
    --color1: #121a91;
    --color2: #4421D9;
    --color3: #892FF0;
    --color4: #A921D9;
    --color5: #be35da;
}

* {
    margin: 0px;
    padding: 0px;
    outline: none;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100vh;
}

header {
    background-image: linear-gradient(to right, var(--color1), var(--color3));
    color: white;
    padding: 0px 30px;
}

a {
    text-decoration: none;
    color: white;
}

.interface {
    display: flex;
    align-items: center;
    background-image: url('../images/plano4.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.interface > .texto {
    color: white;
    font-family: var(--font1);
    font-size: 2em;
    margin-left: 150px;
    line-height: 35px;
}

.texto p {
    font-size: 0.6em;
}

.texto .destaque {
    background-color: #A921D9;
    font-style: italic;
    padding: 0px 8px;
    border-radius: 5px;
}

.servicos {
    text-align: center;
    background-color: var(--color00);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.servicos .titulo {
    color: var(--color4);
    font-family: var(--font1);
    padding: 10px 0px;
}

.servicos > .container > .plano {
    text-align: left;
    background-color: var(--color0);
    color: white;
    /* height: 500px; */
    font-family: var(--font2);
    width: 300px;
    margin: 30px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.541);
    overflow: hidden;
}

 .fiber {
    font-family: var(--font1);
    font-weight: 700;
}

 .megas {
    background-color: var(--color3);
    font-family: var(--font1);
    font-size: 60px;
    width: 200px;
    margin: 10px 0px;
    padding: 1px 0px;
    border-radius: 5px;
}

 .preco {
    font-size: 1.3em;
    font-weight: 800;
}

.preco .vias {
    color: gray;
    font-size: 0.7em;
}

 .comprar {
    text-align: center;
    background-color: var(--color3);
    font-weight: 600;
    width: 150px;
    margin: 10px auto;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.384);
    cursor: pointer;
}

 .comprar:hover {
    background-color: #9649ee;
    box-shadow: 0px 0px 3px rgba(190, 190, 190, 0.384);
    transition-duration: 0.5s;
}

 .beneficios {
    margin-top: 20px;
}

 .beneficios p {
    margin: 10px 0px;
}

.beneficios p span {
    color: var(--color4);
    font-size: 20px;
}

.planodest {
    text-align: left;
    background-color: var(--color3);
    color: white;
    /* height: 500px; */
    font-family: var(--font2);
    width: 300px;
    margin: 30px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.541);
    overflow: hidden;
}

.planodest.fiber {
    font-family: var(--font1);
    font-weight: 700;
}

.planodest .megas {
    background-color: var(--color0);
    color: white;
    font-family: var(--font1);
    font-size: 60px;
    width: 250px;
    margin: 10px 0px;
    padding: 1px 0px;
    border-radius: 5px;
}

.planodest .preco {
    font-size: 1.3em;
    font-weight: 800;
}

.planodest .preco .vias {
    color: var(--color0);
    font-size: 0.7em;
}

.planodest .comprar {
    text-align: center;
    background-color: var(--color0);
    font-weight: 600;
    width: 150px;
    margin: 10px auto;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.384);
    cursor: pointer;
}

.planodest .comprar:hover {
    background-color: #6a15cc;
    box-shadow: 0px 0px 3px rgba(190, 190, 190, 0.384);
    transition-duration: 0.5s;
}

.planodest .beneficios {
    margin-top: 20px;
}

.planodest .beneficios p {
    background-color: var(--color0);
    font-weight: 700;
    margin: 10px 0px;
    padding: 5px;
    border-radius: 5px;
}

.planodest .beneficios p span {
    font-size: 20px;
    font-weight: 700;
}

.plano > .sobre {
    font-family: var(--font1);
    font-size: 0.9em;
    margin: 10px 0px;
}

.sobre .destaque {
    background-color: var(--color2);
    font-weight: 700;
    padding: 0px 2px;
}

.opcoes {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color3);
    color: white;
    font-family: var(--font1);
    font-size: 0.8em;
    height: 200px;
}

.opcoes .opcao {
    margin-right: 10px;
    cursor: pointer;
}

.opcoes .opcao:hover {
    background-color: var(--color00);
    color: var(--color5);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.438);
    transition-duration: 0.5s;
}

.cadastro {
    background-color: var(--color00);
    color: white;
    font-family: var(--font1);
    text-align: center;
    padding: 10px;
}

.cadastro form {
    text-align: left;
}

form .infor {
    margin-bottom: 10px;
}

form .infor label, input {
    display: block;
}

.infor input {
    background-color: var(--color0);
    color: white;
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 5px;
    text-indent: 3px;
    outline: none;
}

form textarea {
    background-color: var(--color0);
    color: white;
    width: 300px;
    padding: 2px;
    border: none;
    border-radius: 5px;
}

.button input {
    display: inline-block;
}

footer .informacoes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color0);
    color: white;
    font-family: var(--font2);
    font-weight: 500;
    padding: 20px;
}

.informacoes ul {
    list-style-type: none;
    columns: 2;
}

.informacoes ul li {
    text-align: left;
    margin-bottom: 5px;
    cursor: pointer;
}

footer p {
    text-align: center;
    background-color: black;
    color: white;
    font-family: var(--font2);
    width: 100%;
    padding: 5px;
}

footer p a {
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}