@charset "UTF-8";

@media screen and (max-width: 650px) {

    header {
        height: auto;
        padding: 0px;
    }

    header > span#menu {
        display: block;
        cursor: pointer;
    }
    
    nav > ul li {
        text-align: center;
        display: none;
        background-color: black;
        width: 100%;
        padding: 10px;
    }

    .interface {
        height: 300px;
    }

    .interface > .texto {
        font-size: 1.6em;
        margin: auto;
    }

    .informacoes img {
        width: 200px;
    }

    .informacoes ul li {
        font-size: 0.9em;
    }
}