@charset "UTF-8";

@media screen and (max-width: 756px) {

    header {
        padding: 0px;
    }

    .navbar {
        flex-direction: column;
        gap: 20px;
    }

    .navbar #hamburger {
        display: block;
        cursor: pointer;
    }

    menu#menu {
        display: none;
        padding: 0px;
    }

    .menu {
        display: block;
        flex-direction: column;
        background-color: rgb(22, 30, 37);
        text-align: center;
    }

    .menu .link {
        width: 100vw;
        padding: 20px;
    }

    .link:hover {
        background-color: #892FF0;
        transition: 0.4s ease;
    }

    .interface {
        height: 300px;
    }

    .interface .img > .texto {
        font-size: 1.6em;
        margin: auto;
    }

    .informacoes img {
        width: 180px;
    }

    .informacoes ul li {
        font-size: 0.7em;
    }

    .opcoes {
        flex-flow: column wrap;
    }

    .opcoes > .container {
        padding: 20px;
    }

    footer p {
        font-size: 0.7em;
        padding: 5px;
    }
    
    footer p a {
        text-decoration: underline;
        font-weight: bold;
        cursor: pointer;
    }
}